<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>CRUD Todo LIST</title>
  <!--   FontAwesome   -->
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />
  <!-- BOOTSTRAP CSS-->
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
    crossorigin="anonymous"
  />
  <!-- CSS -->
  <link rel="stylesheet" href="./styles/css/main.css" />
</head>
<body>
  <header class="my-5 text-center">
    <h4 id="full-day">Day Month, Year</h4>
    <div class="time-container">
      <span id="hour">Hh</span>
      :
      <span id="minute">Mm</span>
      :
      <span id="second">Ss</span>
    </div>
    <h1 class="display-2 text-primary">Todo List</h1>
  </header>
  <main class="container">
    <form id="form-create" class="mb-3">
      <div class="mb-3">
        <input
          id="input-create"
          type="text"
          class="mb-1 form-control"
          placeholder="Type todo..."
          autocomplete="off"
        />
        <span id="message-create" class="text-danger"></span>
      </div>
      <button class="btn btn-outline-primary d-block ms-auto">Add</button>
    </form>

    <ul id="list-group-todo" class="list-group"></ul>

    <!-- modal -->
    <!-- ! Modal edit iconni bosganda chiqadi -->
    <div id="modal" class="modal-todo hidden">
      <div class="card">
        <div
          class="card-header d-flex justify-content-between align-items-center"
        >
          <h5>Change This Todo</h5>
          <i
            id="close"
            class="fas fa-times"
            src="img/close.svg"
            alt=""
            width="25"
            height="25"
          ></i>
        </div>
        <div class="card-body">
          <form id="form-edit" class="mb-3">
            <div class="mb-3">
              <input
                id="input-edit"
                type="text"
                class="mb-1 form-control"
                placeholder="Type todo..."
                autocomplete="off"
              />
              <span id="message-edit" class="text-danger"></span>
            </div>
            <button class="btn btn-outline-success d-block ms-auto">
              Save Changes
            </button>
          </form>
        </div>
      </div>
    </div>
  </main>

  <div id="overlay" class="overlay hidden"></div>
  <!-- * overlay-- modalni orqasida dark blur oynani yaratadi -->
  <script src="./script.js"></script>
</body>
