* {
  user-select: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 600px;
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;
}

.list-group-item {
  transition: all 0.5s;
}

.list-group-item:hover {
  background-color: rgba(204, 204, 204, 0.5);
}

img {
  cursor: pointer;
  transition: all 0.5s;
}

img:hover {
  transform: scale(1.2);
}

.modal-todo {
  position: fixed;
  max-width: 500px;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(34, 34, 34, 0.5);
  backdrop-filter: blur(2px);
  z-index: 50;
}

.hidden {
  display: none;
}

.complated {
  opacity: 0.5;
}

/*# sourceMappingURL=main.css.map */
